
html {

}


h1 {
    font-size: 60px;
    font-weight: 600;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0.856));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    background-image: linear-gradient(to left, rgb(14, 72, 87), rgb(90, 109, 134));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;   
}

p {
    font-size: 30px;
    font-weight: 450;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
}

body {
    background: url(../img/theme.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

aside {
    float:left;
    width: 20%;
    padding: 2.6%;
    height: 100vh;
    color: black;
    border-right: 5px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color:rgb(37, 31, 78);
    display: block;
    margin-top: 10px;
    transition: all .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: wheat;
    text-decoration: none;
    transform: scale(1.10);
}

button {
    position: relative;
    background-color:transparent; 
    color:white;
    font-size: 32px;
    top: 250px;
    left: -350px
    
}
