{% extends 'main/sample.html' %}

{% block title %}Database Page{% endblock %}

{% block content %}
<h1>Database page</h1>
    {% if users %}
        {% for i in users %}
        <div>
            <h2>Username: {{ i.name }} | Age: {{ i.age }} | RegDate:{{ i.date_reg }} | </h2>
            <form method="post">
            {% csrf_token %}
            {{ users.date_reg }}
            <input name="user_id" type="hidden" value="{{i.id}}"/>
            <button class="button3" type="submit">Delete</button>
            </form>
            <br><br>
        </div>
        {% endfor %}
    {% else %}
        <div>
            <h2>| Database is empty |</h2>
        </div>
    {% endif %}
{% endblock %}